.transparent-card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.686); /* Transparent white background */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 20px;
    transition: transform 0.3s ease-in-out;


  }
  
  .transparent-card:hover {
    transform: translateY(-10px); /* Slight hover effect */
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Ensures the image covers the area of the container */
  }
  
  .card-content {
    padding: 20px;
    text-align: center;
    color: #333;
  }
  
  .card-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 1em;
    color: #555;
  }
  