.transparent-card {
  display: flex; /* Use flexbox to align children side by side */
  justify-content: space-between; /* Space out the child elements */
  width: 100%;
  min-height: 70vh;
  position: relative;
  background: rgba(87, 86, 86, 0.6); /* Transparent background */
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(8px);
}

.transparent-card:hover {
  transform: translateY(-10px); /* Slight hover effect */
}

.one{
  display: flex; /* Use flexbox to align image and content inside each card */
  flex-direction: column; /* Stack image and content vertically */
  width: 30%; /* Adjust the width to make both divs fit side by side */
}

.card-image {
  margin: 20px 20px;
  width: 100%; /* Make the image take up full width of the card */
  height: 480px; /* Adjust image height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.card-content {
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

.card-title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1em;
  color: #ffffff;
}


.two {
  display: flex; /* Use flexbox to align image and content inside each card */
  flex-direction: column; /* Stack image and content vertically */

  width: 68%; /* Adjust the width to make both divs fit side by side */
  border-radius: 20px;
}


.card-image2{
  margin: 20px 10px;
  width: 90%;
  height: 570px; /* Adjust image height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
}
