/* Base Styles */
.header {
    width: 100%;
    max-height: 87vh;
    margin: 60px auto;
    overflow: hidden;
    position: relative;
    padding: 40px;

    

}

/* Slider Container */
.slider-container {
    overflow: hidden;
    border-radius: 50px;
}

/* Slider */
.slider {
    display: flex;
    width: 100%; /* 3 images, so 300% width */
    transition: transform 1s ease-in-out;
}

/* Slide */
.slide {
    width: 100%;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header Content */
.header-contents {
    width: inherit;
    min-height: 83vh;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.header-contents h2 {
    font-weight: 500;
    font-size: max(4.5vw, 22px);
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.header-contents button:hover {
    background-color: #f0f0f0;
    color: #333;
}
 .card1{
    justify-items: center;
 }