.explore-menu-container {
    margin-top: 40px;
    position: relative;
  }
  
  
  /* Mobile-specific menu button */
  .menu-button {
    display: none; /* Hidden by default */
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 10px;
  }
  
  /* Explore menu layout (Always visible on larger screens) */
  .explore-menu {
    width: 100%;
    display: flex;
    flex-direction: row; /* Horizontal layout on larger screens */
    gap: 50px;

    justify-content: center;
    
  }


  
  .explore-menu-list {
    display: flex;
    flex-direction: row; /* Horizontal layout on larger screens */
    gap: 170px;
    text-align: center;

  }
  
  .explore-menu-list-item {
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
  }
  
  .explore-menu-list-item p {
    color: #747474;
    font-size: max(1.4vw, 16px);
  }
  
  .explore-menu-list-item.active p {
    color: rgb(0, 0, 0);
  }
  
  .explore-menu-list-item:hover p {
    color: #000000;
  }
  
  .explore-menu-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Mobile-specific styles */
  @media (max-width: 768px) {
    .menu-button {
      display: block; /* Show the menu button on mobile */
    }
  
    .explore-menu {
      display: none; /* Hide the menu by default on mobile */
      flex-direction: column; /* Stack vertically on mobile */
      gap: 10px;
    }
  
    .explore-menu.visible {
      display: flex; /* Show the menu when it's toggled */
    }
  
    .explore-menu-list {
      display: flex;
      flex-direction: column; /* Stack vertically on mobile */
      gap: 10px;
    }
  }
  

  @media (max-width: 1366px) { /* Large laptops */
    .explore-menu-container {
      margin-top: 5px;
      position: relative;
    }

    .explore-menu-list {
        gap: 120px; /* Reduce gap between menu items */
    }

    .explore-menu-list-item p {
        font-size: 18px; /* Slightly increase text size */
    }
}

@media (max-width: 1024px) { /* Smaller laptops */
    .explore-menu-list {
        gap: 0px; /* Adjust spacing for smaller screens */
    }

    .explore-menu-list-item p {
        font-size: 16px; /* Keep text readable */
    }
}
