.explore-menu-container {
    margin-top: 40px;
    position: relative;
  }
  
  

  .menu-button {
    display: none; 
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 10px;
  }
  
  .explore-menu {
    width: 100%;
    display: flex;
    flex-direction: row; 
    gap: 50px;

    justify-content: center;
    
  }


  
  .explore-menu-list {
    display: flex;
    flex-direction: row; 
    gap: 170px;
    text-align: center;

  }
  
  .explore-menu-list-item {
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
  }
  
  .explore-menu-list-item p {
    color: #747474;
    font-size: max(1.4vw, 16px);
  }
  
  .explore-menu-list-item.active p {
    color: rgb(0, 0, 0);
  }
  
  .explore-menu-list-item:hover p {
    color: #000000;
  }
  
  .explore-menu-list::-webkit-scrollbar {
    display: none;
  }
  

  @media (max-width: 768px) {
    .menu-button {
      display: block; 
    }
  
    .explore-menu {
      display: none;
      flex-direction: column; 
      gap: 10px;
    }
  
    .explore-menu.visible {
      display: flex; 
    }
  
    .explore-menu-list {
      display: flex;
      flex-direction: column; 
      gap: 10px;
    }
  }
  

  @media (max-width: 1366px) { 
    .explore-menu-container {
      margin-top: 5px;
      position: relative;
    }

    .explore-menu-list {
        gap: 120px; 
    }

    .explore-menu-list-item p {
        font-size: 18px; 
    }
}

@media (max-width: 1024px) { 
    .explore-menu-list {
        gap: 0px; 
    }

    .explore-menu-list-item p {
        font-size: 16px; 
    }
}
